@charset "utf-8";
.body{
	margin:0 auto;
	width:1000px;
	height:1500px;
}
a{text-decoration:none;}
/*banner���ֿ�ʼ*/
.head{
    width:800px;
	height:120px;
	margin-left:100px;
	background:url(../images/book_02.gif);
	position:relative;
}
	.login{
		width:100px;	
		text-align:center;
		margin-left:680px;
		margin-top:20px;
		position:absolute;
	}
		  .login a{
			  text-decoration:none;
			  font-size:15px;
		  
		  }
		  .login a:hover{
			  color:#F00;
		  }
	.nav{
		width:800px;
		height:30px;
		position:relative;
		line-height:30px;
		
	}
		 .nav-left{
			width:400px;
			height:30px;
			position:relative;
			left:100px;
			line-height:30px;
			
		}
		.nav-right{
			width:200px;
			height:30px;
			position:absolute;
			line-height:30px;
			left:780px;
			top:-15px;
			
		}
		.nav-left a{
			width:100px;
			display:inline-block;
			height:30px;
			text-align:center;
			text-decoration:none;
				
		}
		.nav-left a:hover{
			width:100px;
			height:30px;
			display:inline-block;
			background:#0F0;
			text-align:center;
		}
/*banner���ֽ���*/

/*��Ҫ���ݿ�ʼ*/
.connect{
	
	width:800px;
	height:460px;
	position:relative;
	left:100px;
}
	  .connect-head{
		  
		  width:800px;
		  height:30px;
		  background:url(../images/book_05_03.gif);
		  position:absolute;
		  
		  
	  }
			.connect-head p{
				width:120px;
				height:30px;
				color:#FFF;
				margin-left:150px;
				margin-top:5px;
			}
			.select{
				width:120px;
				position:absolute;
				left:260px;
				top:5px;
				
			}
			.select2{
				width:120px;
				position:absolute;
				left:460px;
				top:5px;
				
			}
			.button{
				width:120px;
				position:absolute;
				left:540px;
				top:0px;
				
			}
	  .connect-main{
		  width:800px;
		  height:430px;
		  background:url(../images/images/book_10.gif);
		  position:absolute;
		  top:30px;
	  }
	      .connect-main table{
				 margin-top:55px;
				 margin-left:100px;
			 }
		   
/*��Ҫ���ݽ���*/

/*�ײ���ʼ*/
.foot{
	width:800px;
	height:40px;
	margin-left:100px;
	
	background:url(../images/book_07.gif);
}
/*�ײ�����*/
/* CSS Document */

